<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oop.sanskart">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ViewHolder.ThankYouActivity" />
        <activity android:name=".Order_placed" />

        <activity
            android:name=".RiderMapsActivity"
            android:label="@string/title_activity_rider_maps" />
        <activity android:name=".NewAccountActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Sanskart.NoActionBar" />
        <activity android:name=".OTPVerifyActivity" />
        <activity android:name=".OTPSendActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".ViewHolder.OtpActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".CartMainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".RiderMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>